{{define "createLocal"}}
<div class="modal fade" id="createLocal" tabindex="-1" aria-labelledby="createLocalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="createLocalLabel">Criar Local</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="local_create">
					<input class="form-control" name="nome" placeholder="Endereço" required/>
				</form>
			</div>
			<div class="modal-footer">
				<input type="reset" class="btn btn-warning" form="local_create" value="Limpar"/>
				<button type="button" class="btn btn-primary" data-on-click="@post('/local/', {contentType: 'form', selector: '#local_create'})">
					Enviar
				</button>
			</div>
		</div>
	</div>
</div>
{{end}}
