{{define "createValor"}}
<div class="modal fade" id="createValor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createValorLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="createValorLabel">Criar Valor</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="valor_create" class="row g-3">
					<div class="col">
						<input class="form-control" type="number" name="valor" min="0" placeholder="Valor" required/>
					</div>
					<div class="col">
						<input class="form-control" type="date" name="data_inicio" required/></td>
					</div>
					<div class="col">
						<input class="form-control" type="date" name="data_fim"/></td>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
					Fechar
				</button>
				<button type="button" class="btn btn-primary" data-on-click="@post('/valor/', {contentType: 'form', selector: '#valor_create'})">
					Enviar
				</button>
			</div>
		</div>
	</div>
</div>
{{end}}
