{{define "home"}}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
	<script src="/static/bootstrap.min.js"></script>
	<script src="/static/htmx.min.js"></script>
	<script type="module" src="/static/datastar.js"></script>
	<style>
		td {padding: 0;}
		.form-control {border: none transparent;}
	</style>
	<title>Sistema de Gestão de Autorizações de Fornecimento</title>
</head>
<body>
	<a href="/local/" hx-boost="true">Locais</a>
	<div hx-get="/af/" hx-trigger="load" hx-swap="outerHTML"></div>
</body>
</html>
{{end}}
