{{define "home"}}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
	<script src="/static/bootstrap.min.js"></script>
	<script src="/static/htmx.min.js"></script>
	<script type="module" src="/static/datastar.js"></script>
	<style>
		th .form-control, td .form-control {border: none transparent;}
	</style>
	<title>Sistema de Gestão de Autorizações de Fornecimento</title>
</head>
<body>
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createAF">
		&#x271A;AF
	</button>
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createItem">
		&#x271A;Item
	</button>
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createValor">
		&#x271A;Valor
	</button>
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createLocal">
		&#x271A;Local
	</button>

	{{template "createAF"}}
	{{template "createItem"}}
	{{template "createValor"}}
	{{template "createLocal"}}

	<a href="/local/" hx-boost="true">Locais</a>
	<div id="af" data-on-load="@get('/af/')">
		Carregando...
	</div>
</body>
</html>
{{end}}
