{{define "listLocals"}}
<label for="local">Escolha um local: </label>
<select name="local_id" id="local" class="form-select" required>
	{{range .}}
	<option value="{{.ID}}">{{.Nome}}</option>
	{{end}}
</select>
{{end}}
