{{define "listLocals"}}
<div id="local">
	<label for="local_id">Escolha um local: </label>
	<select name="local_id" id="local_id" class="form-select" required>
		{{range .}}
		<option value="{{.ID}}">{{.Nome}}</option>
		{{end}}
	</select>
</div>
{{end}}
